/* (C) Copyright Bobbing Wide 2015,2016 */
/* custom.css for genesis-a2z theme */

/* You probably want oik-custom.css - Herb 2015/11/26 */



/* span.content { background-color: #fff; width: 100%; float: none; display: block; } */
#adminmenu { transform: translateZ(0); }

/**
.post-type-archive h2,
.post-type-archive-oik-plugins h2,
.post-type-archive-oik_request h2 { 
	font-size: 18px;
	margin: 0px 0px 0px 0px;
}
*/

/**
.post-type-archive .entry {
	margin-bottom: 2px;
	padding: 2px 20px;
}
*/

/**
.post-type-archive p {
	margin: 0px;
	padding: 0px;
}

.post-type-archive article {
	width: 31.33333%; 
	float: left;
	padding: 2px 0.5%;
	margin: 2px 0.5%;
}
*/


div.footer-widgets-1 {
	background-color: #e83327;
	margin: 10px 1%;
	padding: 10px 1% 0 1%;
}
div.footer-widgets-2 {
	background-color: #27e833;
  margin: 10px 1%;
  padding: 10px 1% 0 1%;
}

div.footer-widgets-3 {
	background-color: #3327e8;
	margin: 10px 1%;
	padding: 10px 1% 0 1%;
}

	
div.footer-widgets-4 {
  
	margin: 10px 1%;
}	

div.footer-widgets {
	margin-top: 20px;
}

div.footer-widgets h2 {
	font-size: 400%;
	font-weight: bold;
	color: #ffffff;
}


/**
 * Formatting for the hook shortcode
 * Should this be in oik-shortcodes.css ?
 <div class="hook">
 <span class="indent-2">&nbsp;&nbsp;</span>
 <a href="http://qw/wordpress/oik_hook/stylesheet_directory" title="stylesheet_directory - filter">stylesheet_directory – filter</a>
 <span class="num_args">3</span>
 <span class="count">1</span>
 </div>
 *
 */
div.hook { 
	font-size: 15px;
}

.hook span.indent-1 { 
	margin-left: 1%;
 }
.hook span.indent-2 {
	margin-left: 2%;
}
.hook span.index-3 { 
	margin-left: 3%;
}

.hook span.num_args {
	padding: 0 10px;
}

.hook span.count {
	padding: 0 10px;
}
	
 

