/* Multi columns lists */
.is-style-cw250 { column-width: 250px;  column-gap: 0px;}
.is-style-cw150 { column-width: 150px;  column-gap: 50px;}


/* Main column width */
.wp-block {
    max-width: 720px;
}

/* Width of "wide" blocks */
.wp-block[data-align="wide"] {
    max-width: 1080px;
}

/* Width of "full-wide" blocks */
.wp-block[data-align="full"] {
    max-width: none;
}