<phpunit
	bootstrap="../../plugins/oik-batch/oik-wp.php"
	backupGlobals="false"
	colors="false"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<!-- for PHPUnit 8 or 9.5.x -->
	<testsuites>
		<testsuite name="genesis-a2z">
			<directory prefix="test-" suffix=".php">tests/</directory>
		</testsuite>
	</testsuites>
</phpunit>
